body{
    --current-page-clr: #efb52f;
    --header-clr: #102E66;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex; 
    flex-flow: column wrap;
    background-color: #252432;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-1{
    display: flex;
    flex-flow: column wrap;
    background-image: url(images/test5.jpg);
    height: 59em;
}


/* header code */

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px 0;
}

.logo-img{
    width: 90px;
    height: 105px;
    padding: 10px 0;
}

.book-now-btn, .explore-more-btn{
    display: flex;
    padding: 13px 32px;
    background-color: #eee;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    border: solid 3px black;
}


/* middle links code */
.links-container{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* code about links */

a{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.links-container a:hover{color: #2352A7}
a:active{color: #102E66}


/* main text code */

.text-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 42rem;
}

.main-text-container{
    width: 60rem;
    height: 15rem;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-transform: capitalize;
}



/* hover over navbar items */

.menu-svg:hover{
    cursor: pointer;
    fill: #eeeeee8e;
    transition: 0.2 ease-in;
}

.book-now-btn:hover, .explore-more-btn:hover{
    cursor: pointer;
    background-color: #eeeeeeb6;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border: double 3px transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #FFBA3A, #83AAF2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
} 

.book-now-btn:active, .explore-more-btn:active{
    cursor: pointer;
    background-color: #969494;
    border-color: #969494;
    transition: 0.2 ease-in;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} 


/* posts container */

.container-2{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    /* border: 3px solid red; */
    width: 98vw;
    height: auto;
    margin: 20px auto;
}

article{
    position: relative;
    /* border: 3px solid blue; */
    width: 97vw;
    height: 800px;
    margin: 0 auto;
}

.post-img{
    height: 800px;
    width: 1823px;
    object-fit: cover;
}



.post-link{
    position: absolute;
    width: 1400px;
    bottom: 5%;
    left: 3%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

h5{
    position: absolute;
    bottom: 17%;
}

h6{
    position: absolute;
    bottom: -3%;
}

.post-link:active{
    cursor: pointer;
    color: #ccc;
    transition: 0.2 ease-in;
}



/* contact info container */
.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 200px;
    margin-top: 50px;
}



.form-btn{
    display: flex;
    color: white;
    padding: 0px 30px;
    background-color: #0066ff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
    font-weight: bold;
}

.form-btn:hover{
    cursor: pointer;
    background-color: #0066ffce;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.form-btn:active{
    cursor: pointer;
    background-color: #104491d3;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



/* footer code */      

.footer{
    background-color: var(--header-clr);
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.container-4{
    display: flex;
    flex-flow: row wrap;
    margin: 5rem 6rem 3rem;
}

.col{
    display: flex;
    flex-flow: column wrap;
    margin-right: 90px;
    line-height: 0px;
}

.svg-container{display: flex; gap: 30px; margin: 10px 0; }


hr{
    background-color: white;
    display: block;
    width: 70%;
    height: 1px;
}

/* editing spacing, text color and text size*/
h3, p{color: #5f5f63}
h4, h3{line-height: 23px;}
h4{font-size: 18px;}
h3{font-size: 22px;}

/* column1 spacing between location text */
#vsk-office{margin: 45px 0 12px; line-height: 0;}
.col-1 > p{margin: 11px 0; line-height: 0;}


/* column2 spacing between text, and text n line */
.col-2 > p{margin-bottom: 45px;}
.col-2 > h4{margin: 25px 0 35px 0; line-height: 0;}

/* editing link style */
.footer > div a{
    text-decoration: none;
    color: white;
}

.footer > div a:hover{cursor: pointer;}
.footer > div a:active{cursor: pointer; color: rgb(173, 173, 173);}


/* sponsor container*/
.container-5{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 30px;
    width: 100%;
}

.sponsor-images{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 100px;
}
.sponsor{
    width: 300px;
    height: 150px;
}

.sponsor2{height: 100px;}

.design-claim{margin: 0 auto; color: #5f5f63}



/* svg sizing */
svg{
    height: 40px;
    fill: white;
}

#phone-svg{
    height: 25px;
}

.phone-nmbr{
    display: flex;
    align-items: center;
    gap: 10px;
}




/* Form page code below */
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(images/contact-form-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .header{
    grid-column: 1 / 2;
    background-color: #102E66;
}

.wrapper > .header > .links-container .contact{
    color: var(--current-page-clr);
}

.child-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    "image image from image image";
}

.background-div{
    grid-area: image;
    grid-column: 1 / 6;                            
    background-color: rgba(255, 255, 255, 0.7);
}

.form{
    grid-area: form;
    grid-column: 3 / 4;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    color: black;
    margin: 5rem 0 5rem;
}

.form h1{
    align-self: center;
    font-size: 40px;
}

fieldset{
    border: none;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

label{
    font-weight: bold;
    font-size: 20px;
}

textarea, select{
    background-color: white;
    width: 32rem;
}

textarea{
    font-size: 20px;
    resize: none;
}

select{
    padding: 13px 20px;
    font-size: 17px;
}

input{
    background-color: white;
    padding: 13px 20px;
    border-radius: 10px;
    font-size: 17px;
    width: 30rem;
}

.privacy-policy-fieldset{
    display: flex;
    flex-flow: row wrap;
    margin: 3rem 0;
}

input[id="privacy-policy"]{
    width: 1rem;
}

#privacy-policy > a{
    color: blue;
    font-size: 17px;
    font-weight: none;
    text-decoration: underline;
}

.submit-btn{
    width: 25%;
    margin: 0 auto;
}

button[type='submit']{
    padding: 15px;
    font-size: 17px;
    border-radius: 10px;
    color: white;
    background-color: #102E66;
}

button[type='submit']:hover{
    background-color: #2352A7;
}




/* Team page code below */
.wrapper-roster{
    display: flex;
    flex-flow: column wrap;
}

.wrapper-roster > .header{
    background-color: var(--header-clr);
}

.wrapper-roster > .header > .links-container > a[href="team.html"]{
    color: var(--current-page-clr);
}

.parent-roster-container{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
    padding: 70px 100px 70px 100px;
    border: 3px solid yellow;
    gap: 15px;
    background-color: white;
}

.parent-roster-container > h1{
    color: #2352A7;
    font-size: 41px;
}

.child-roster-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    border: 3px solid green;
}


.archer-card{
    height: auto;
    background-color: white;
    border: 3px solid red;
    /* background-image: url(images/compundbow.webp);
    background-position: 170%;
    background-repeat: no-repeat;
    background-size: cover; */
    /* transform: rotate(90deg); */

    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr;
}

.upper-segment{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    padding: 40px;
    gap: 13px;
}

.upper-segment > h3, .upper-segment > h3 > p{
    color: #102E66;
}

.image-container{
    width: 100%;
    height: 415px;
    align-self: flex-end;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
}


h2, h3, p{
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lower-segment{
    padding: 15px;
    /* background-color: greenyellow; */
    border-top: 3px solid #2352A7;
    border-radius: 0 0 20px 20px;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

.first-div{
    padding-top: 4px;
    color: black;
}

.first-div > h2{
    font-size: 17px;
}


.second-div{
    color: black;
    text-align: left;
}

.first-div > h2, .second-div > h2 + h2{
    font-weight: normal;
}

.second-div > h2 + h2 + h2{
    color: #2352A7;
    font-weight: bold;
}


.upper-segment > svg{
    width: 40px;
    height: 40px;
    fill: #2352A7;
}

/* code for images of archers */

.member-image{
    height: auto;
    align-self: flex-end;
    justify-self: center;
}

.archer-am, .archer-ls, .archer-amjr{
    width: 27rem;
}

.archer-ar{
    width: 20rem;
} 

.archer-npp{
    width: 27rem;
}

.archer-dl, .coach-tm{
    width: 22rem;
}

.archer-mk{
    width: 23rem;
}

.coach-cz{
    width: 20rem;
}


/* code for hover effects */

.archer-card:hover{                
    box-shadow: 10px 20px 12px 10px;
    box-shadow: black;
}

.lower-segment:hover{
    background-color: #102E66;
}





/* personel-login code below */

.personel-login-container > .header > .links-container > a[href="personel-login.html"]{
    color: var(--current-page-clr);
}

.personel-login-container > .header{
    background-color: var(--header-clr);
}

.personel-login-container{
    display: flex;
    flex-flow: column wrap;
}

.main-content{
    height: 56rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    background-color: #eee;
}

.the-colored-side{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form{
    justify-self: center;
    align-self: center;

    display: flex;
    flex-flow: column wrap;
    gap: 13px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 28px;
}

.h1-box{
    align-self: center;
}

.h1-box > h1{
    font-size: 45px;
    color: black;
}

.log-in-info-box{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 15px;
}

.log-in-info-box > fieldset > input{
    width: 26rem;
    border: 3px solid #e2e8f0;
}

.log-in-info-box > fieldset > input:hover{
    border-color: #2c69db;
}

.log-in-info-box > fieldset > input:focus {  /* border is also black */
    /* border-color: #2c69db; */
    border: 3px solid red;
}

.log-in-info-box button:first-of-type{
    width: 29rem;
}

.help-login-box{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

.help-login-box > h3, .help-login-box a:first-of-type{
    font-size: 17px;
    font-weight: normal;
}

.help-login-box > h3{
    color: black;
}

.help-login-box a:first-of-type{
    color: #2352A7;
}

.help-login-box a:first-of-type:hover{
    color: #2c69db;
}



/* sponsors code below */

.sponsors-container{
    display: flex;
    flex-flow: column wrap;
}

.sponsors-container > .header > .links-container > a[href="sponsors.html"]{
    color: var(--current-page-clr);
}

.sponsors-container > .header{
    background-color: var(--header-clr);
}

.main-content-sponsors{
    display: grid;
    grid-template-columns: 1fr;
}

.main-title-sponsors{
    display: grid;
    height: 800px;
    background-image: url(images/sponsors-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.older-child{
    background-image: linear-gradient(to top, #252432, rgba(255,0,0,0));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.older-child > div{
    grid-column: 2 / 3;
    align-self: flex-end;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 7px;
    padding: 20px;
    line-height: 1.5;
}

.older-child > div > h1{
    font-size: 3rem;
    color: #FFBA3A;
}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
}

.older-child > div > p{
    color: #e2e8f0;
}

.older-child > div > a{
    padding-top: 20px;
}

.join-us-btn{
    padding: 12px 34px;
    background-color: #cd122d;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 7px;
}

.join-us-btn:hover{
    background-color: #ee1737;
    cursor: pointer;
}


/* list and description of partners */
.middle-partner-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    margin-top: 4rem;
}

.middle-partner-container > h1, .honorary-mention-container > h1{
    font-size: 38px;
}

.child-partner-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
}

.partner-img{
    width: 27rem;
    padding-bottom: 27px;
}

img[src="images/sponsor2.png"]{
    width: 23rem;
    padding-bottom: 15px;
}

.partner-3 > img{
    width: 18rem;
}

.partner{
    height: 270px;
    background-color: #ccc;
    border: none;
    border-radius: 15px;
    padding: 35px 100px 35px 35px;
    line-height: 1.5;
}

.partner > p > a{
    color: #0066ff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

.partner-1{
    grid-column: 2 / 7;
}

.partner-2{
    grid-column: 6 / 12;
}

.partner-3{
    grid-column: 3 / 8;
}


.honorary-mention-container{
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255, 255, 255, 0.795));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    line-height: 2;
    padding: 0 100px 0 100px;
}

.honorary-mention-container > p{
  color: black;
  font-size: 20px;
}



/* about us page code */
.global-wrapper> .header > .links-container > a[href="about.html"]{
    color: var(--current-page-clr);
}

.global-wrapper > .header{
    background-color: var(--header-clr);
}

.main-box{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding: 50px 0 50px 0;
}

.middle-box{
    grid-column: 2 / 3;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 70px;
    gap: 70px;
    background-color: #ccc;
}

.middle-box > h1, .moto-wrapper > div > h2{
    background-image: linear-gradient(to right, #efb52f, #2352A7);
    color: transparent;
    background-clip: text;
}

.middle-box > h1{
    font-size: 60px;
}

.quote-box{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

.quote-box > h3{
    grid-column: 2 / 3;
    color: black;
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
}


.child-box{
    display: grid;
    gap: 50px;
}

img[src="images/olimpic-logo.jpg"]{
    width: 70rem;
    justify-self: center;
}

.moto-wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.moto-wrapper > div{
    grid-column: 2 / 3;
    display: grid;
    gap: 14px;
}

.moto-wrapper > div > h2{
    font-size: 50px;
    width: 250px;
}

.moto-wrapper > div > p{
    color: black;
    line-height: 1.8;
}

.basic-club-info{
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.basic-club-info > h2{
    color: black;
}

table{
    border-collapse: collapse;
    width: 100%;
    color: rgb(29, 29, 29);
}

td, th{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.word-break{
    white-space: pre;
}




/* code for news page */

.wrapper-container> .header > .links-container > a[href="news.html"]{
    color: var(--current-page-clr);
}

.wrapper-container > .header{
    background-color: var(--header-clr);
}

.main-content-box{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    padding: 50px 0 60px 0;
    background-color: #fff;
}

.middle-content-box{
    grid-column: 2 / 3;
    display: flex;
    flex-flow: column wrap;
    gap: 45px;
}

.middle-content-box > h1, .more-news-container > h1{
    font-size: 40px;
    color: #0f2145;
}

.front-news{
    display: flex;
    flex-direction: row;
}

.front-news:hover{
    cursor: pointer;
}

.title-div{
    background-color: #f3f5f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title-div > h1{
    color: #243455;
    text-align: left;
}

img[src="images/test2.jpg"]{
    width: 65%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



/* code for newsletter */
.newsletter-container{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    background-color: #eee;
    margin: 2rem 0 2rem 0;
}

.newsletter-box{
    grid-column: 2 / 3;

    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 40px;
}

.left-part-newsletter{
    display: grid;
    grid-template-columns: repeat(10, 13px);
}

.left-part-newsletter > svg{
    fill: #102E66;
    width: 7rem;
    height: auto;
}

.left-part-newsletter > img{     
    width: 3rem;
    grid-column: 7 / 9;
}


.right-side-newsletter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribe-info-bar{
    display: flex;
    flex-direction: row;
    border: 1px solid #efb52f;
    border-radius: 10px;
}

.subscribe-info-bar > input{
    width: 8rem;
    border: none;
    border-radius: 0;
    border-right: 1px solid #efb52f;
    padding-left: 10px;
}

.subscribe-info-bar > input[placeholder="Enter E-mail"]{
    width: 22rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.subscribe-info-bar > button > svg{
    width: 1rem;
    height: auto;
    fill: black;
}

.subscribe-info-bar > button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding: 13px 20px;
    font-size: 15px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #efb52f;
}

.subscribe-info-bar > button:hover{
    cursor: pointer;
    background-color: #bd8f25;
}


.disclaimer-bar > p{
    color: black;
    font-size: 12px;
}

.disclaimer-bar > p > a{
    color: blue;
    font-size: 12px;
    font-weight: normal;
}

.disclaimer-bar > p > a:hover{
    cursor: pointer;
}


/* code for 4 news boxes underneath main news */
.following-news{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: space-between;
}

.news-box{
    width: 21rem;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.news-box > h3{
    font-size: 20px;
    line-height: 1.3;
    color: #18294c;
}

.news-img{
    height: 210px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news-1{
    background-image: url(images/news1.jpg);
}

.news-2{
    background-image: url(images/about-us-background.jpg);
}

.news-3{
    background-image: url(images/news3.jpg);
}

.news-4{
    background-image: url(images/test7.jpg);
}

.news-box:hover, .news-box-2:hover{
    cursor: pointer;
}



/* code for button and rest of dropdown boxes */
.more-news-section{
    display: flex;
    flex-flow: row wrap;
    gap: 45px;
    justify-content: space-between;
}

.news-box-2{
    width: 26rem;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.news-box-2 > h3{
    font-size: 17px;
    line-height: 1.3;
    color: #3b4a67;
}

.news-2-0{
    background-image: url(images/koko.jpg);
    height: 230px;
}

.news-3-0{
    background-image: url(images/news10.jpg);
    height: 230px;
}

.more-news-btn{
    align-self: center;

    width: 10rem;
    font-size: 21px;
    color: #2352A7;
    letter-spacing: 2px;
    background-color: white;
    border: 3px solid #eee;
    border-radius: 15px;
    padding: 14px;
}

.more-news-btn:hover{
    cursor: pointer;
    border-color: #2352A7;
    /* transition: 3.5 ease-in-out; */    /* effect doesnt work */
}